h1{
    border-radius: 1px solid black;
    font-size: 10px;
    font-weight: bolder;
    color: aqua;
    background-color: red;
    font-style: initial;
    font-display: block;
    font-feature-settings: "abvm";
    
}
